$prof1-color: #258FD0;
$prof2-color: #E2611F;

.prof1 {
    color: $prof1-color;
}

.prof2 {
    color: $prof2-color;
}

.bg-icon {
    font-size: 3em;
    text-align: center;
    display: inline-block;
}

.bg-icon {
    background-color: #428bca;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    line-height: 2em;
    margin-bottom: 10px;
    color: white;
}

.no-pad-top {
    margin-top: 0px;
}

.well-rule {
    border-top: 1px solid #bada55;
}

.pad-top {
    margin-top: 25px;
}

.sidebar {
    position: fixed !important;
    top: 25px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(85, 173, 218, 0.15);
    border-right: 1px solid #eee;
    .navbar-label {
        position: relative;
        display: block;
        padding: 10px 0px;
        margin-left: 15px;
        border-bottom: 1px solid #666;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}

.profile-uploader {
    height: 150px;
}

.key-indicator {
    color: #555;
}

.breadcrumb > .key-indicator:last-child {
    color: #C71B1B;
}

.centered-breadcrumb {
    text-align: center;
    margin-bottom: 5px !important;
}

.split-border {
    border-left: 5px solid black;
}

.space-bottom {
    padding-bottom: 20px;
}

.diff-item {
    font-size: 1.1em;
    .label {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.key-item {
    .label {
        padding: 3px 9px !important;
        margin-right: 10px;
    }

    .mono {
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        font-size: .85em;
    }
}

.border-right {
    border-right: 1px solid #999;
}

.border-left {
    border-left: 1px solid #999;
}
