<!--
    Copyright (c) 2015 - The MITRE Corporation
    For license information, see the LICENSE.txt file
-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>
                Comparison Results
                <br/>
                <small>Here's how the profiles stack up</small>
            </h1>
            <hr />
        </div>
    </div>
    <% if @prof1error or @prof2error or @differror %>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <% if @prof1error %>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <strong>Error!</strong> There was an error loading profile #1.
                        <br/> You may not have supplied a valid STIX file in YAML format.
                    </div>
                <% end %>
                <% if @prof2error %>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <strong>Error!</strong> There was an error loading profile #2.
                        <br/> You may not have supplied a valid STIX file in YAML format.
                    </div>
                <% end %>
                <% if @differror %>
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <strong>Error!</strong> There was an error comparing the two profiles.
                        <br/> You may not have supplied a valid STIX file in YAML format.
                    </div>
                <% end %>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <%= link_to "Try Again", profile_compare_path(),
                    { :class=>"btn btn-danger" }  %>
            </div>
        </div>
    <% else %>
        <div class="row text-center">
            <div class="col-xs-8 col-xs-offset-2 key-item">
                <div class="alert alert-info alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Key:</strong>
                    <br/>
                    <span class="label label-danger">✘</span>
                    <span class="mono">Item missing in the profile that is present in the other profile.</span>
                    <br/>
                    <span class="label label-success">✔</span>
                    <span class="mono">Item present in the profile that is missing in the other profile.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <% if @diff['groups'].empty? %>
                    <h4 class="text-center">The profiles provided appear identical in content!</h4>
                <% else %>
                    <h4 class="text-center">The following differences were found...</h4>
                    <hr style="width: 50%;" />
                    <% @diff['groups'].each do |groupName, group| %>
                        <h5 class="text-center"><strong>Group: </strong><%= groupName %></h5>
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <td><%= @prof1_name %></td>
                                    <td><%= @prof2_name %></td>
                                </tr>
                            </thead>
                            <tbody>
                                <% if group.has_key?(@prof1_name) && group.has_key?(@prof2_name) %>
                                    <tr>
                                        <td>
                                            <% if group[@prof1_name] == SchemaProfiler::ITEM_PRESENT %>
                                                <span class="label label-success">✔</span>
                                            <% else %>
                                                <span class="label label-danger">✘</span> Not Found
                                            <% end %>
                                        </td>
                                        <td>
                                            <% if group[@prof2_name] == SchemaProfiler::ITEM_PRESENT %>
                                                <span class="label label-success">✔</span>
                                            <% else %>
                                                <span class="label label-danger">✘</span> Not Found
                                            <% end %>
                                        </td>
                                    </tr>
                                <% else # difference within constructs somewhere... %>

                                <% end %>
                            </tbody>
                        </table>
                        <br/><br/>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
<br/><br/><br/>
