<!--
    Copyright (c) 2015 - The MITRE Corporation
    For license information, see the LICENSE.txt file
-->
<div class="container">
    <div class="row text-center">
        <h1>Profile CRUDbox <br/><small>A STIX / CybOX Profile Management Utility</small></h1>
        <p>Enabling you to create, read, update, and even compare STIX/CybOX profiles!</p>
        <hr />
    </div>
    <div class="row text-center pad-top">
        <div class="col-xs-12 col-md-4">
            <div class="well">
                <div class="bg-icon">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </div>
                <h3 class="no-pad-top">Create Profiles</h3>
                <hr class="well-rule"/>
                <p>Create a brand-new STIX/CybOX profile. CRUDbox will allow you to
                    specify usage standards for each STIX construct in the latest schemas.
                    When complete, CRUDbox will provide you with a file
                    containing your profile. The profile will be in YAML format for machine-readability.
                </p>
                <a href="/profile/create" class="btn btn-success">Create</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="well">
                <div class="bg-icon">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                </div>
                <h3 class="no-pad-top">View &amp; Modify Profiles</h3>
                <hr class="well-rule"/>
                <p>Upload a STIX/CybOX profile. CRUDbox will present it in a way that is easy for you to peruse.
                    Functionality for modifying the profile is also provided, so that you can update your profile
                    as you deem necessary. You can save the edited profile when your changes are complete.
                </p>
                <a href="/profile/start_edit" class="btn btn-warning">View / Edit</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="well">
                <div class="bg-icon">
                    <span class="glyphicon glyphicon-zoom-in">
                    </span>
                </div>
                <h3 class="no-pad-top">Compare Profiles</h3>
                <hr class="well-rule"/>
                <p>
                    Need to see how your profile stacks up to another profile? CRUDbox can do that!
                    Simply provide the two profiles you would like to compare, sit back, and wait for
                    CRUDbox to do the heavy lifting! You can also compare against a baseline profile
                    to find out if your profile is missing any new constructs!
                </p>
                <a href="/profile/compare" class="btn btn-info">Compare</a>
            </div>
        </div>
    </div>
</div>
