<div class="container">
    <div class="row text-center">
        <h1>STIX &amp; CybOX Profile Utility</h1>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-md-4">
            <div class="bg-icon">
                <span class="glyphicon glyphicon-plus">
                </span>
            </div>
            <div class="well">
                <h3 class="no-pad-top">New Profile</h3>
                <hr class="well-rule"/>
                <p>Create a brand-new STIX/CybOX profile. CRUDbox will allow you to
                    specify usage standards for each STIX construct in the latest schemas.
                    When complete, CRUDbox will provide you with a file
                    containing your profile. The profile will be in YAML format for machine-readability.
                </p>
                <a href="/profile/create" class="btn btn-success">Create</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="bg-icon">
                <span class="glyphicon glyphicon-pencil">
                </span>
            </div>
            <div class="well">
                <h3 class="no-pad-top">View / Edit Profile</h3>
                <hr class="well-rule"/>
                <p>Upload a STIX/CybOX profile. CRUDbox will present it in a way that is easy for you to peruse.
                    Functionality for modifying the profile is also provided, so that you can update your profile
                    as you deem necessary. You can save the edited profile when your changes are complete.
                </p>
                <a href="#" class="btn btn-warning">View / Edit</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="bg-icon">
                <span class="glyphicon glyphicon-zoom-in">
                </span>
            </div>
            <div class="well">
                <h3 class="no-pad-top">Compare Profiles</h3>
                <hr class="well-rule"/>
                <p>Create a brand-new STIX/CybOX profile. CRUDbox will allow you to
                    specify usage standards for each STIX construct in the latest schemas.
                    When complete, CRUDbox will provide you with a file
                    containing your profile. The profile will be in YAML format for machine-readability.
                </p>
                <a href="#" class="btn btn-info">Compare</a>
            </div>
        </div>
    </div>
</div>
